/* FONTS */

/* League Spartan */
@font-face {
  font-family: 'LeagueSpartan';
  src: url('fonts/LeagueSpartan-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url('fonts/LeagueSpartan-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url('fonts/LeagueSpartan-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url('fonts/LeagueSpartan-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url('fonts/LeagueSpartan-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Playfair Display */
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* HEADER + NAVIGATION */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  font-family: 'League Spartan', sans-serif;
  font-size: 25.54px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #FF006F;
}

header img {
  height: 161px;
  width: 161px;
}

/* CATEGORIES SECTION */
.categories {
  margin: 0px 40px 20px 40px;
}

.category-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.category-table th {
  border: 3.5px solid #C9C9C9;
  background-color: #000;
  color: #ffffff;
  padding: 10px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  letter-spacing: -2px;
  font-size: 37.23px;
  text-align: left;
  line-height: 50px;
}

.category-table td {
  border: 3.5px solid #C9C9C9;
  padding: 12px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  letter-spacing: -2%;
  line-height: 18.6px;
  font-size: 23.27px;
  text-align: center;
}

.category-table th,
.category-table td {
  width: 22.2%;
}

/* BODY */
body {
  background: linear-gradient(to bottom, #FFFFFF 60%, #999999 100%);
  margin: 0;
  padding: 0;
}

/* MAIN */
main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}


/* LEFT COLUMN */
.left-section {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  padding: 20px;
}

/* Hero container to link h1 + image */
.hero-container {
  position: relative;
  display: inline-block;
}

.hero-container .hero-image {
  width: 97%;
  height: auto;
  margin-bottom: 15px;
  margin-left: 20px;
  display: block;
}

.left-section h1 {
  font-family: 'LeagueSpartan', sans-serif;
  font-size: 76px;
  font-weight: 800;
  letter-spacing: -3px;
  text-transform: uppercase;
  color: #000;
  margin-top: 0;
  margin-bottom: -40px;
  margin-left: 20px;
  line-height: 1.05;
  position: relative;
  z-index: 1;
  white-space: nowrap;
}

.left-section p {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -2px;
  text-align: justify;
  margin-top: 5%;
  margin-left: 20px;
}

/* RIGHT COLUMN */
.right-section {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-left: 0%;
  margin-top: 0.5%;
  color: #000000;
}

.right-section hr {
  border: none;
  border-top: 2px solid #000000;
  margin: 10px 0;
  width: 100%;
}

.right-section h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 43px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-top: 0%;
  margin-bottom: 10px;
  margin-right: 20px;
}

.right-section h2 em {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 500;
  color: #FF4D00;
  margin-right: 20px;
}

.right-section p {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -2px;
  text-align: justify;
  margin-right: 20px;
  margin-bottom: 5%;
}

/* AUTHOR'S FAV */
.favorite-album {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-left: 0%;
  color: #000000;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}

.favorite-album h4 {
  margin-top: 0%;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -2px;
  display: inline-block;
  white-space: nowrap;
  margin-bottom: 5%;
}

.favorite-album img {
  width: 300px;
  height: 300px;
}

.favorite-album .backshots {
  border-radius: 15px;
  position: relative;
  z-index: 2;
  box-shadow: inset 0px 5.45px 11.59px rgba(0, 0, 0, 0.25);
}

.favorite-album .vinyl {
  position: absolute;
  top: 65px;
  left: 115px;
  z-index: 1;
  filter: drop-shadow(6.82px 5.45px 11.59px rgba(0, 0, 0, 0.25));
  background: transparent;
  mix-blend-mode: normal;
}

.album-info {
  position: absolute;
  top: 700px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
  text-align: right;
}

.album-info h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0 0px 3px 0px;
  font-size: 27px;
  line-height: 1;
  letter-spacing: -2px;
}

.album-info p {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 6px 0px 0px 0px;
  font-size: 15px;
  line-height: 1;
  transform: translateY(-2px);
  letter-spacing: 1px;
}

.album-info ul {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  line-height: 1.2;
  letter-spacing: -1px;
}

/* --- ABOUT SECTION --- */
.about {
  padding: 20px 75px;
  padding-top: 0px;
} 

.about h1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 91px;
  letter-spacing: -4px;
  margin-bottom: 5px;
  margin-top: 0%;
}

.about p {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-top: 0%;
  text-align: left;
}

/* --- GENRES SECTION --- */
.genres {
  padding: 25px 75px;
  padding-top: 0px;
}

.genres h1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 91px;
  font-weight: 800;
  letter-spacing: -4px;
  margin-bottom: 5px;
  margin-top: 0%;
}

.genres p {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-top: 0%;
  text-align: left;
}


/* GENRES TABLE  */
.genres-table {
  width: 90vw; 
  max-width: 1500px;
  border-collapse: collapse;
  border: 1px solid #000;
  margin: 0 auto;
  margin-bottom: -70px;
  margin-left: 90px;
}

.genres-table td {
  border: 1px solid #000;
  padding: 20px;
  font-size: 18px;
  font-family: 'League Spartan', sans-serif;
  vertical-align: top;
  margin-top: 1px; 
}

.genres-table td strong {
  display: block;
  font-family: 'League Spartan', sans-serif;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 0%; 
}


/* Music Form Section */
.music-form-container {
  background-color: #0555FF;
  border: 1.65px solid black;
  border-radius: 10px;
  margin-top: 140px;
  margin-left: 90px;
  height: 240px;
}

.music-form-container h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 35px;
  letter-spacing: -3px;
  text-align: right;
  margin-top: -60px;
}


.form-group label {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #ffffff;
  line-height: 26px;
  margin-left: 310px;
}

.form-group select {
  margin-left: 305px;
  width: 410px;
}

.form-group option {
  font-family: 'League Spartan', sans-serif;
  font-weight: 400px;
  font-size: 15px;
}

.radio-group {
  display: inline-flex;
  align-items: center;
  gap: 10px; 
  margin-left: 255px; 
}

.second-radio-group {
  display: inline-flex;
  align-items: center;
  gap: 10px; 
  margin-left: 60px; 
}

.radio-group label {
  margin: 0;
  padding: 0;
}

.radio-group input[type="radio"] {
  margin: 0 10px 0 0; 
  accent-color: #ffffff;
}

.radio-group input[type="radio"]:checked {
  accent-color: #FF4D00;
}

.form-group input[type="text"] {
  width: 380px;
  padding: 10px 15px;
  margin-left: 100px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.submit-btn {
  background-color: white;
  color: #0057ff;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 30px;
  cursor: pointer;
  display: block;
  margin: 50px auto -50px; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #FF006F;
  color: white;
}

/* --- PLAYLISTS SECTION */

.playlists {
  padding: 25px 75px;
  padding-top: 0px;
}

.playlists h1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 91px;
  letter-spacing: -4px;
  margin-bottom: 5px;
  margin-top: 0%;
}

.playlists p {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-top: 0%;
  text-align: left;
}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1.5rem;
  padding: 2rem 0;
}

.card {
  position: relative;
  text-align: center;
  border-radius: 12px;
  overflow: visible;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
  border-radius: 18px; 
}

.card:hover::before {
  opacity: 0.2;
}

.card img, 
.card h3, 
.card p {
  position: relative;
  z-index: 1;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}
.card a {
  text-decoration: none;
  color: #000000;
}

.card img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}

.card h3 {
  font-family: 'League Spartan', sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: left;
  margin: 6px 0 0 10px;
}

.card p {
  font-family: 'League Spartan', sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0 0 6px 10px;
}

.quote {
  text-align: center;
}

.quote h2 {
  font-family: 'League Spartan', sans-serif;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -2px;
}

/* --- CONTACT US PAGE --- */
.contact {
  padding: 25px 75px;
  padding-top: 0px;
}

.contact h1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 91px;
  letter-spacing: -4px;
  margin-bottom: 5px;
  margin-top: 0%;
}

.contact p {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-top: 0%;
  text-align: left;
}

.contact-form-container {
  display: flex;
  width: 1250px;
  min-height: 600px; 
  height: auto; 
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  border: 2px solid rgb(180, 180, 180);
  margin-left: 210px;
  overflow: hidden; 
  margin-bottom: 30px;
}

.contact-form-container img {
  border-radius: 15px 0 0 15px;
  width: 450px;
  height: 795px;
  object-fit: cover;
  filter: grayscale(1) brightness(0.9) contrast(1.1);
}

.contact-form {
  flex: 1;
  background-color: rgba(0, 87, 255, 0.9);
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form h2 {
  font-family: 'League Spartan', sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  text-align: left;
}

.contact-form label {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  text-align: left;
  display: block;
  margin-top: 15px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.contact-form select {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 40px;     
  background-color: #fff;  
}
.contact-form textarea {
  resize: none;
  height: 100px;
}

.contact-subm-btn {
  background-color: white;
  color: #0057ff;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  padding: 6px 30px;
  cursor: pointer;
  display: block;
  margin: -15px auto -15px; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.contact-subm-btn:hover {
  background-color: #FF006F;
  color: white;
}


/* FOOTER STYLES */
footer {
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #000000;
  width: 90%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
}

.footer-links {
  margin-top: 5px;
}

.footer-links a {
  margin: 0 -3px -3px 3px;
  display: inline-block;
  text-decoration: none;
  color: #0555FF;
  font-weight: 500;
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 13px;
}

.footer-links a:hover {
  color: #FF006F;
}

.footer-links img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  transition: filter 0.3s ease;
}

.footer-links a:hover img {
  filter: brightness(0) saturate(100%) invert(19%) sepia(95%) saturate(7477%) hue-rotate(320deg) brightness(100%) contrast(104%);
}

